<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.app.repository.ItemRepository">
    <select id="selectOne" parameterType="Integer" resultType="item">
        SELECT * FROM item WHERE item_id=#{itemId}
    </select>
    <select id="select" resultType="item">
        SELECT * FROM item
    </select>
    <insert id="insert" parameterType="item">
        INSERT INTO item VALUES (null ,#{itemName},#{itemPrice}, #{itemImgname}, now())
    </insert>
    <update id="update" parameterType="item">
        UPDATE item SET item_name=#{itemName},item_price=#{itemPrice},item_imgname=#{itemImgname} WHERE item_id=#{itemId}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM item WHERE item_id=#{itemId}
    </delete>

</mapper>